language: generic
sudo: required

services:
  - docker

install:
  - docker pull openturns/archlinux-module

script:
  - docker run -e MAKEFLAGS='-j2' -v `pwd`:/io openturns/archlinux-module /io/.ci_support/run_docker_build.sh `id -u` `id -g`

after_success:
  - test "$TRAVIS_PULL_REQUEST" = "false" -a "$TRAVIS_BRANCH" = "master" || exit 0
  - git clone --depth 1 https://${GH_TOKEN}@github.com/openturns/openturns.github.io.git
  - PROJECT_REPONAME=`echo "${TRAVIS_REPO_SLUG}" | cut -d "/" -f 2`
  - if test -n "${TRAVIS_TAG}"; then
        TRAVIS_BRANCH=${TRAVIS_TAG:1};
    fi
  - mkdir -p openturns.github.io/${PROJECT_REPONAME}/${TRAVIS_BRANCH}
  - cp -r ./html/* openturns.github.io/${PROJECT_REPONAME}/${TRAVIS_BRANCH}
  - cd openturns.github.io
  - touch .nojekyll
  - git config user.email "support@travis-ci.com"
  - git config user.name "Travis CI"
  - git add -A .
  - git commit -a -m "Travis build ${PROJECT_REPONAME} ${TRAVIS_BUILD_NUMBER}"
  - git push --quiet origin master > /dev/null 2>&1

env:
  global:
    secure: "sKXLbNbB5OoqCaiIRIMVrDZOjfnVkvepqZBxctG65wd8TFmzkhQ8gAq1J1zmQGShlBUEoNQM/vULLigbHb9GTUezu8PI+dCSmWOjDP9766V+1i9PMLZAdgMTyIRzO/zEt6nFBjh9BUmgVIVTzNZqgCYKtCifYIUMLuuo030iXTrWSSlLMNzzIGQfJOtTQYDRFUd/ld/UAv+nYpNAMu7RwsYhU/McP7YsCP6dkVtnNKpublbD4t9X5nowvF3G514yMUmI9Wu2HwRoEbMEU1yd1IosYE9+uULa02+sZba3a2OmxY3kb3gpfPd1QivoAaDkR5iHsQ0gx2/s4nPmlQxN3gjFZcT4Q6xd6KSeLJyGb4UZovGw9PBWk+XVLMm9oulZZ4bS7QJj6pmlDrtF2Cx62UsEJx+Qs7amCgIu/rhDnyLtAVSxpeh2Gos8B9ngCHmpOlkid+8fpvT70ArooQPAkoBEtsBppEGdvCQF0tm/roTLEMzw9hIgqNuBKnYXX0Yg65zhHdKnuvF3f95mctUW9B8KsJtl6H2E1DzwmYvZXsUGsNixn+Ot9vqZpvr+/KSWzeGnZjnzRiD7i8wPITXCN6n0nSsxOrFSQHaACr9hysPtBejN0U64BVMaeZEo9HVVT6z8ZAtIRJjVcfZJ6DcbKJ/bHFK+peVFhNUBGuQ+3bc="
